
.background path {
  fill: none;
  /* stroke: #ddd; */
  stroke-width: 0.1px;
  shape-rendering: crispEdges;
}

.foreground path {
  fill: none;
  stroke-width: 0.1px;
}

.pointer {
  cursor: pointer;
}

.brush .extent {
  fill-opacity: .3;
  /* stroke: #fff;  */
  shape-rendering: crispEdges;
}

.axis line{
  font-size: 4px;
  font-family: sans-serif;
  fill: none;
}

.axis path {
  fill: none;
  /*stroke: #000;*/
  shape-rendering: crispEdges;
}


.genere_square {
  height: 3.8%;
  /* border :solid 1px black; */
}
.genere_info {
  cursor: pointer;
}

.area_3_g {
  font-size: 9px;
}

.chord_back_highlighted {
  background-color: rgb(225, 213, 168);
}

.chord_back_highlighted_dark {
  background-color: rgb(34, 54, 52)
}

/*****************************************/
.active {
  /*stroke: red;*/
  stroke: #ff3e3e;
  
}

.normal {
  /*stroke: rgb(66, 172, 66);*/
  stroke: #69b3a2
}

.title {
  font-weight: bolder;
  font-size: xx-large;
}

.checkbox-label {
  font-weight: normal;
  font-size: medium;
}

/*****************************************/

:root {
  --light-color: rgb(200, 200, 200);
}

.dark {
  background-color: rgb(30, 30, 30);
  fill: var(--light-color);
}
.light {
  background-color: white;
  fill: black;
}

.darkfill {
  fill: black;
}
.lightfill {
  fill: var(--light-color);
}

.darkstroke {
  stroke: black;
}
.lightstroke {
  stroke: var(--light-color);
}

.darkborder {
  border-color: black;
}
.lightborder {
  border-color: var(--light-color);
}

.darkbackground {
  background-color: rgb(30, 30, 30);
}
.lightbackground {
  background-color: white;
}