svg {
    font: 10px sans-serif;
}
  
.background path {
  fill: none;
  stroke: #ddd;
  stroke-width: 0.1px;
  shape-rendering: crispEdges;
}

.foreground path {
  fill: none;
  stroke-width: 0.1px;
}

.brush .extent {
  fill-opacity: .3;
  stroke: #fff; 
  shape-rendering: crispEdges;
}

.axis line{
  font-size: 4px;
  font-family: sans-serif;
  fill: none;
}
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font-size: 5px;
  fill: black;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
  cursor: move;
}

.tick text {
  font-size: 4px;
}

.genere_square {
  height:10px;
  width:10px;
  outline:solid 1px black;
  float:left;
  margin-right:10px;
  margin-top:6px;
  margin-left:10px;
}

.genere_info {
  cursor: pointer;
}


/*****************************************/
.active {
  stroke: red;
}

.normal {
  stroke: rgb(66, 172, 66);
  
}