
.background path {
  fill: none;
  stroke: #ddd;
  stroke-width: 0.1px;
  shape-rendering: crispEdges;
}

.foreground path {
  fill: none;
  stroke-width: 0.1px;
}

.brush .extent {
  fill-opacity: .3;
  stroke: #fff; 
  shape-rendering: crispEdges;
}

.axis line{
  font-size: 4px;
  font-family: sans-serif;
  fill: none;
}
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}


.genere_square {
  height: 3.8%;
  border :solid 1px black;
}
.genere_info {
  cursor: pointer;
}

.area_3_g {
  font-size: 9px;
}




/*****************************************/
.active {
  stroke: red;
}

.normal {
  stroke: rgb(66, 172, 66);
  
}